

hr {
    width: 70%;
    height: 1;
    background-color: black;
    border: none;
}

h1 {
    font-size: 24px;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#paul{
    width: 424px;
    height: 424px;
    margin-left: 32%;
    margin-right: 20%;

}


/*h2 {
    font-size: 20px;
    color:blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}*/


